//fonts
@import "https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap";

//layout
@import "https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.7.0/modern-normalize.css";
@import "./layout/variables";
@import "./layout/mixins";
@import "./layout/base";

//components
@import "./components/btn";
@import "./components/head-section";
@import "./components/header";
@import "./components/logo";
@import "./components/menu";
@import "./components/contact";
@import "./components/burger-menu";
@import "./components/hero";
@import "./components/btn";
@import "./components/benefits";
@import "./components/benefit";
@import "./components/section";
@import "./components/heading";
@import "./components/advantages";
@import "./components/advantage";
@import "./components/advantages-section";
@import "./components/reviews";
@import "./components/reviews-section";
@import "./components/inter-avatar";
@import "./components/delivery-section";
@import "./components/form";
@import "./components/radio";
@import "./components/fixed-menu";
@import "./components/map-section";
@import "./components/footer";
@import "./components/social";