.features{
  margin-bottom: rem(30px);
  
  &__list{
    display: flex;
    justify-content: space-between;
    width: 70%;

    @include landscape{
      justify-content: space-around;
      width: 100%;
    }
  }

  &__title{
    color: #666666;
  }

  &__value{
    font-weight: bold;
  }
}