.burger{
  display: none;
  position: fixed; 
  top: 30px;
  right: 3%;
  height: 22px;
  width: 24px;
  cursor: pointer;
  z-index: 15;
  transition: all .5s ;

  @include tablet{
    display: block;
  }
  
  &__line{
    width: 100%;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    transition: all .4s;

    
    &:nth-child(2){
      top: 50%;
      transform: translateY(-50%);
    }
    
    &:nth-child(3){
      bottom: 0;
      top: initial;
    }
  }
}

.content{
  opacity: .9;
  height: 100%;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  
  &__title{
    color:#fff;
    font-size: 40px;
    text-transform: uppercase;
  }
}

.overlay{

  @include tablet{
    height: 100%;
    width: 100%;
    background-color: #313131;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: all 1s ease-out;
    position: fixed;
    top: 0;
    left: 100%;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}


.burger--active{
  
  .burger__line{
    background-color: #fff;

    &:nth-child(1){
      opacity: 0;
    }
    
    &:nth-child(2){
      transform: rotate(45deg);
    }
    
    &:nth-child(3){
      transform: rotate(-45deg) translateY(-5px) translateX(5px);
    }
  }
}

.overlay--active{
  left: 0;
  opacity: 1;
}

.body--active-menu{
  overflow: hidden;
}