.form{
  display: flex;
  font-size: rem(18px);
  color: #ffffff;

  @include tablet{
    flex-direction: column;
    padding: 0 19%;
  }

  @include phone{
    padding: 0;
  }

  &__col{
    flex: 1;
    margin-right: rem(20px);

    &:last-child{
      margin-right: 0;
    }

    @include tablet{
      margin-right: 0;
      margin-bottom: rem(12px);

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__row{
    display: flex;
    margin-bottom: rem(16px);

    @include tablet{
      margin-bottom: rem(10px);
    }

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__block{
    flex: 1;
    margin-right: rem(20px);

    &:last-child{
      margin-right: 0;
    }
  }

  &__title{
    margin-bottom: rem(4px);
  }

  &__input{
    font-family: 'Play', sans-serif;
    width: 100%;
    border: 3px solid transparent;
    border-radius: 4px;
    padding: rem(15px) rem(11px);
    outline: none;
    font-size: rem(18px);

    @include tablet{
      padding: rem(6px) rem(6px);
    }

    &:focus{
      border-color: $primary;
    }

    &_textarea{
      height: rem(172px);
      resize: none;

      @include tablet{
        height: rem(86px);
      }
    }
  }

  &__controls{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(4px);

    @include phone{
      justify-content: center;
    }
  }

  &__btn{
    margin-top: rem(40px);
    
    @include tablet{
      display: flex;
      justify-content: center;
    }
  }
}