.slider{
background:#f5f5f5;

  &__container{
    overflow: hidden;
    position: relative;
  }

  &__list{
    display: flex;
    list-style: none;
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    // overflow: hidden;
    transition: .5s all ease-out;
  }

  &__item{
    width: 102%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
  }

  &__left{
    position: absolute;
    top: 50%;
    left: rem(24px);

    @include landscape{
      top: 25%;
      left: 10%;
    }
    @include phone{
      top: 18%;
    }
  }

  &__right{
    position: absolute;
    top: 50%;
    right: rem(24px);

    @include landscape{
      top: 25%;
      right: 10%;
    }
    @include phone{
      top: 18%;
    }
  }

  &__block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;

    @include landscape{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__product{
    width: 50%;
    max-width: 452px;
    max-height: 452px;
    overflow: hidden;
    margin-left: rem(60px);
    margin-right: rem(39px);

    @include landscape{
      margin-bottom: rem(30px);
    }


  }

  &__picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content{
    width: 50%;

    @include landscape{
      text-align: center;
      width: 100%;
    }
  }

  &__title{
    font-size: rem(36px);
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: rem(24px);
  }

  &__description{
    color: #666666;
    margin-bottom: rem(30px);
  }

  &__details{
    @include landscape{
      display: none;
    }
  }
}